/* Ensures navbar sticks to the top of the page */
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
    z-index: 1000; /* Ensure navbar is above other content */
}

/* Ensures the body content does not hide under the fixed navbar */
body {
    padding-top: 70px; /* Increase top padding to make space for the navbar */
}
.navbar-inverse {
    background-color: #222; /* Dark background for the navbar */
    border-color: #080808; /* Slightly lighter border */
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ac2925; /* Light grey text, adjust if not visible */
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff; /* White text on hover */
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

input[type="text"], input[type="number"], button {
    width: 50%;  /* Changed from 50% to 100% within the form */
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.chart-container {
    width: 400px;
    height: 400px;
}

#expensesChart {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

