@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bacon ipsum dolor amet chislic rump doner, biltong jerky kielbasa andouille frankfurter kevin shank cow sausage porchetta. Beef kevin rump pork chop kielbasa fatback alcatra chicken cupim ham hock prosciutto shoulder pig tail meatloaf. Capicola chuck shank fatback pastrami corned beef tongue turkey chicken pork sirloin andouille. Andouille meatball kielbasa, pork belly biltong prosciutto tail hamburger doner pastrami fatback. Ham hock jowl bresaola bacon, pancetta short ribs shoulder sausage tri-tip beef ham hamburger. Tenderloin turkey t-bone jerky. Picanha filet mignon sausage, biltong jerky pastrami spare ribs.</p>
<p>Pork belly tail picanha boudin, sausage chicken capicola frankfurter short ribs short loin. Ground round spare ribs picanha beef ribs turducken buffalo tenderloin. Meatball sirloin spare ribs cupim tri-tip beef ribs short loin landjaeger meatloaf andouille. Pig sirloin jerky turkey pastrami pork loin ball tip filet mignon tenderloin ground round. Turducken pork belly pastrami beef ribs turkey sirloin. Kielbasa biltong rump chicken beef corned beef salami swine turkey fatback.</p>

<p> Pork loin short loin chislic ball tip burgdoggen, pig doner chuck bresaola flank turducken prosciutto spare ribs. Tail turducken pork belly, chicken salami meatloaf burgdoggen brisket tri-tip ground round boudin frankfurter shoulder pancetta. Flank bresaola corned beef ball tip venison tail t-bone jerky beef frankfurter. Pig shank doner chuck rump, beef ribeye sirloin strip steak cow meatloaf. Venison tenderloin swine bresaola frankfurter, burgdoggen capicola pancetta turducken.</p>


<p> Turkey short ribs chuck frankfurter pancetta, pork chop ham ball tip salami beef ribs. Leberkas strip steak brisket meatloaf. Beef picanha frankfurter cow turducken meatloaf. Doner ribeye beef ribs, tail pastrami pig jowl swine andouille chicken leberkas boudin bacon meatball. Tenderloin brisket spare ribs beef fatback ham hock kevin short ribs pastrami. Pork chop buffalo rump hamburger short loin turducken kielbasa jerky salami corned beef swine tail short ribs shoulder.</p>